<mat-toolbar color="accent">
    <mat-toolbar-row>

        <button mat-icon-button [routerLink]="['/a-book', selectedBook]" aria-label="Back to chapter listing">
            <mat-icon>list</mat-icon>
        </button>

        <span class="example-spacer"></span>

        @if(selectedBook && selectedChapter){

        <button [disabled]="!prevChapter" mat-button title="Previous Chapter"
            [routerLink]="['/a-images-editor', selectedBook, prevChapter]"><mat-icon
                style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">arrow_back</mat-icon></button>

        &nbsp;

        {{ selectedChapter }}

        &nbsp;

        <button [disabled]="!nextChapter" mat-button title="Next Chapter"
            [routerLink]="['/a-images-editor', selectedBook, nextChapter]"><mat-icon
                style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">arrow_forward</mat-icon></button>

        }

        <span class="example-spacer"></span>

        <mat-checkbox [(ngModel)]="is_limited_view">Limit View</mat-checkbox>
        &nbsp;
        <button mat-icon-button [class.button_right_margin]="true" color="warn" [disabled]="!has_file_selection" aria-label="Delete selected files"
            title="Delete selection files" (click)="deleteSelected()">
            <mat-icon color="warn">delete</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

@if (is_loading) {
<app-loading-spinner></app-loading-spinner>
} @else {
<div class="stream-image-holder" #scrollableDiv>
    @if (split_mode) {
        <app-image-splitter
        [imageUrl]="split_image_url" [keepFirst]="keepFirst"
        (splitConfirmed)="handleSplitConfirmed($event)"
      ></app-image-splitter>
    } @else if (merge_mode) {
        <app-image-merge [imageUrl]="merge_image_url" [imageUrl2]="merge_image_url2"
        (mergeConfirmed)="handleMergeConfirmed($event)"></app-image-merge>
    } @else {
    <mat-grid-list [cols]="numberOfColumns" rowHeight="1:1">
        @for (item of imageData.files; let i = $index; track item) {
        @if ( (is_limited_view && (i < limit_start || i > limit_end)) || (!is_limited_view) ) {
            <mat-grid-tile>
                <mat-grid-tile-header>

                    <button title="Select" mat-icon-button (click)="toggleFile(item)">
                        @if (item.selected) {
                        <mat-icon>check_box</mat-icon>
                        } @else {
                        <mat-icon>check_box_outline_blank</mat-icon>
                        }
                    </button>

                    <span class="flexer"></span>
                    <a class="book-title">{{ item.filename }} ({{i}})</a>
                    <span class="flexer"></span>
                </mat-grid-tile-header>
                <div class="image-wrapper">
                    <img class="cover-image"
                        src="/api/volume/serve_image/{{selectedBook}}/{{selectedChapter}}/{{item.filename}}?time={{load_number}}" />
                </div>
                <mat-grid-tile-footer>
                    <button title="Split Image" mat-icon-button (click)="splitImage(item.filename, i)">
                        <mat-icon>splitscreen</mat-icon>
                    </button>
                    <span class="flexer"></span>
                    @if ((i + 1) < imageData.files.length) {
                    <button title="Merge Images" mat-icon-button (click)="mergeImage(i)">
                        <mat-icon>layers</mat-icon>
                    </button>
                    }
                    <span class="flexer"></span>
                    <button title="Delete Image" mat-icon-button (click)="deleteImage(item.filename)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        }
        }
    </mat-grid-list>
    }
</div>

}