:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

mat-toolbar {
    flex: 0 1 auto;
}

.stream-image-holder {
    flex: 1 1 auto;

    overflow: hidden;
    overflow-y: scroll;

    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mat-grid-tile .mat-grid-tile-header {
    z-index: 10;
}

mat-grid-tile.selected {
    background-color: darkslategrey;
}