<mat-card class="fill-grid-item" appearance="outlined">
    <mat-card-title>Recent Media</mat-card-title>
    <mat-card-content>
        
        <mat-list>
        @for (item of viewData; track item.file_id) {
            <mat-list-item class="clicker" (click)="itemClicked(item)">
                @if (item.preview) {
                <img matListItemAvatar src="/api/media/item/preview/{{item.file_id}}" alt="Item Preview">
                }
                <h3 matListItemTitle>{{item.folder_name}}</h3>
                <p matListItemLine>
                  <span>{{item.name}}:({{item.progress}}%)</span>
                  &nbsp;
                  <span>{{item.timestamp | formatDate }}</span>
                </p>

            </mat-list-item>
        } @empty {
            <mat-list-item>
                <h3 matListItemTitle>No History</h3>
            </mat-list-item>
        }
        </mat-list>

    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [length]="totalItems" [pageSize]="6" [pageSizeOptions]="[6]" [pageIndex]="pageIndex"
            (page)="onPageChange($event)" [hidePageSize]="true" [showFirstLastButtons]="false" aria-label="Recent mavigation">
        </mat-paginator>
    </mat-card-footer>
</mat-card>