<ng-container *transloco="let t">
<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>{{ t('form.book_entry') }}</span>
    </mat-toolbar-row>
</mat-toolbar>
<div id="sub-content">
    <div class="entry_form">
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.id') }}</mat-label>
                    <input matInput type="text" name="book_id" [(ngModel)]="book_id" />
                    <button mat-button matSuffix mat-stroked-button (click)="cleanId()" aria-label="clean"><mat-icon>wash</mat-icon></button>
                </mat-form-field>
                
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.name') }}</mat-label>
                    <input matInput type="text" name="book_name" [(ngModel)]="book_name" />
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.source') }}</mat-label>
                    <mat-select name="book_source" [(ngModel)]="book_type" (ngModelChange)="processor_changed()">
                        <mat-option [value]="'offline'">{{ t('option.offline') }}</mat-option>
                        @for (processor of processors; track processor.id) {
                            <mat-option [value]="processor.id">{{processor.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.display_style') }}</mat-label>
                    <mat-select name="book_style" [(ngModel)]="book_style">
                        <mat-option [value]="'page'">{{ t('option.page_based') }}</mat-option>
                        <mat-option [value]="'scroll'">{{ t('option.scolling_based') }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.rating') }}</mat-label>
                    <mat-select name="book_rating" [(ngModel)]="book_rating">
                        <mat-option [value]="0">{{ t('form.rating_g') }}</mat-option>
                        <mat-option [value]="40">{{ t('form.rating_pg') }}</mat-option>
                        <mat-option [value]="60">{{ t('form.rating_pg13') }}</mat-option>
                        <mat-option [value]="80">{{ t('form.rating_r17') }}</mat-option>
                        <mat-option [value]="90">{{ t('form.rating_rplus') }}</mat-option>
                        <mat-option [value]="100">{{ t('form.rating_rx') }}</mat-option>
                        <mat-option [value]="200">{{ t('form.rating_unrated') }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.status') }}</mat-label>
                    <mat-select name="book_active" [(ngModel)]="book_active">
                        <mat-option [value]="false">{{ t('option.inactive_item') }}</mat-option>
                        <mat-option [value]="true">{{ t('option.active_item') }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.skip_chapters') }}</mat-label>
                    <input matInput type="text" name="book_base_skip" [(ngModel)]="book_skip" />
                </mat-form-field>
            </div>
        </div>

        
        
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.info_url') }}</mat-label>
                    <input matInput type="text" name="book_url" [(ngModel)]="book_url" />
                    @if( selected_processor.pageDescription.length > 0 ) {
                    <mat-hint>{{ selected_processor.pageDescription }}</mat-hint>
                    }
                </mat-form-field>
            </div>
        </div>
        @if( selected_processor.rss) {
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.rss_url') }}</mat-label>
                    <input matInput type="text" name="book_rss" [(ngModel)]="book_rss" />
                    @if( selected_processor.rssDescription.length > 0 ) {
                    <mat-hint>{{ selected_processor.rssDescription }}</mat-hint>
                    }
                </mat-form-field>
            </div>
        </div>
        }

        @if( selected_processor.baseUrl) {
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.extra_url') }}</mat-label>
                    <input matInput type="text" name="book_base_url" [(ngModel)]="book_base_url" />
                    @if( selected_processor.baseUrlDescription.length > 0 ) {
                    <mat-hint>{{ selected_processor.baseUrlDescription }}</mat-hint>
                    }
                </mat-form-field>
            </div>
        </div>
        }

        @if( selected_processor.startId) {
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.start_chapter') }}</mat-label>
                    <input matInput type="text" name="book_start" [(ngModel)]="book_start" />
                    @if( selected_processor.startIdDescription.length > 0 ) {
                    <mat-hint>{{ selected_processor.startIdDescription }}</mat-hint>
                    }
                </mat-form-field>
            </div>
        </div>
        }

        <div class="actions">
            <button (click)="createBook()"><mat-icon>save</mat-icon></button>
        </div>
    </div>
</div>
</ng-container>