<ng-container *transloco="let t">

  <app-hamburger-menu color="accent">
    <ng-template cdk-portal>
      <div class="hamburger-content">
      
        <span style="font-weight: bold;" [routerLink]="['/a-volume']">{{ t('action.books') }}</span>
      @if (can_bookmark) {
      /
      <span [routerLink]="['/a-volume/bookmarks']">{{ t('action.bookmarks') }}</span>
      }
      <span class="example-spacer"></span>

      <button mat-icon-button [class.button_right_margin]="true" [disabled]="mode == ViewMode.GRID"
        (click)="switchViewMode(ViewMode.GRID)" aria-label="Switch to grid view" title="{{ t('action.grid_view') }}">
        <mat-icon>grid_view</mat-icon>
      </button>

      <button mat-icon-button [class.button_right_margin]="true" [disabled]="mode == ViewMode.LIST"
        (click)="switchViewMode(ViewMode.LIST)" aria-label="Switch to list view" title="{{ t('action.list_view') }}">
        <mat-icon>list</mat-icon>
      </button>

      <button mat-icon-button [class.button_right_margin]="true" (click)="startTextFilter()"
        title="{{ t('form.text_filter') }}">
        <mat-icon color="warn">search</mat-icon>
      </button>

      <button mat-icon-button [class.button_right_margin]="true" [matMenuTriggerFor]="ratingLimitMenu"
        title="{{ t('menu.filter') }}">
        <mat-icon color="warn">filter_alt </mat-icon>
      </button>

      <button mat-icon-button [class.button_right_margin]="true" [matMenuTriggerFor]="ratingBlurMenu"
        title="{{ t('menu.blur') }}">
        <mat-icon color="warn">texture</mat-icon>
      </button>

      <button mat-icon-button [class.button_right_margin]="false" [matMenuTriggerFor]="sortMenu"
        title="{{ t('menu.sort') }}">
        <mat-icon color="primary">sort</mat-icon>
      </button>

      <mat-menu #ratingBlurMenu="matMenu">
        @if(filter_max >= 0) {
        <button mat-menu-item (click)="setRatingBlur(0)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(0)">{{ t('form.rating_g') }}</span>
        </button>
        }
        @if(filter_max >= 40) {
        <button mat-menu-item (click)="setRatingBlur(40)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(40)">{{ t('form.rating_pg') }}</span>
        </button>
        }
        @if(filter_max >= 60) {
        <button mat-menu-item (click)="setRatingBlur(60)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(60)">{{ t('form.rating_pg13') }}</span>
        </button>
        }
        @if(filter_max >= 80) {
        <button mat-menu-item (click)="setRatingBlur(80)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(80)">{{ t('form.rating_r17') }}</span>
        </button>
        }
        @if(filter_max >= 90) {
        <button mat-menu-item (click)="setRatingBlur(90)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(90)">{{ t('form.rating_rplus') }}</span>
        </button>
        }
        @if(filter_max >= 100) {
        <button mat-menu-item (click)="setRatingBlur(100)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(100)">{{ t('form.rating_rx') }}</span>
        </button>
        }
        @if(filter_max >= 200) {
        <button mat-menu-item (click)="setRatingBlur(200)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingBlurClass(200)">{{ t('form.rating_unrated') }}</span>
        </button>
        }
      </mat-menu>

      <mat-menu #ratingLimitMenu="matMenu">
        @if(filter_max >= 0) {
        <button mat-menu-item (click)="setRatingLimit(0)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(0)">{{ t('form.rating_g') }}</span>
        </button>
        }
        @if(filter_max >= 40) {
        <button mat-menu-item (click)="setRatingLimit(40)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(40)">{{ t('form.rating_pg') }}</span>
        </button>
        }
        @if(filter_max >= 60) {
        <button mat-menu-item (click)="setRatingLimit(60)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(60)">{{ t('form.rating_pg13') }}</span>
        </button>
        }
        @if(filter_max >= 80) {
        <button mat-menu-item (click)="setRatingLimit(80)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(80)">{{ t('form.rating_r17') }}</span>
        </button>
        }
        @if(filter_max >= 90) {
        <button mat-menu-item (click)="setRatingLimit(90)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(90)">{{ t('form.rating_rplus') }}</span>
        </button>
        }
        @if(filter_max >= 100) {
        <button mat-menu-item (click)="setRatingLimit(100)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(100)">{{ t('form.rating_rx') }}</span>
        </button>
        }
        @if(filter_max >= 200) {
        <button mat-menu-item (click)="setRatingLimit(200)">
          <mat-icon>visibility</mat-icon>
          <span [className]="getRatingLimitClass(200)">{{ t('form.rating_unrated') }}</span>
        </button>
        }
      </mat-menu>

      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="changeSort('AZ')">
          <mat-icon>sort_by_alpha</mat-icon>
          <span [className]="getClassForSort('AZ')">{{ t('form.sort_az') }}</span>
        </button>
        <button mat-menu-item (click)="changeSort('ZA')">
          <mat-icon>sort_by_alpha</mat-icon>
          <span [className]="getClassForSort('ZA')">{{ t('form.sort_za') }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="changeSort('DA')">
          <mat-icon>sort</mat-icon>
          <span [className]="getClassForSort('DA')">{{ t('form.sort_da') }}</span>
        </button>
        <button mat-menu-item (click)="changeSort('DD')">
          <mat-icon>sort</mat-icon>
          <span [className]="getClassForSort('DD')">{{ t('form.sort_dd') }}</span>
        </button>
      </mat-menu>
      
      </div>
    </ng-template>
  </app-hamburger-menu>

  <div class="main_content" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <div class="item-listing" [class.grid-mode]="mode === ViewMode.GRID">
      @for (book of pagedItems; track book.id) {
      <div class="item" [class.im-finished]="isFinished(book)" [class.im-newish]="isNewish(book)">
        <div class="im-header">{{ book.name }}</div>
        <div class="im-icon">
          <img [class.blur_image]="is_item_blured(book.rating)" (click)="gotoBook(book)"
            src="/api/volume/serve_preview/{{book.id}}/{{book.cover}}?t={{imageNumber$ | async}}" />
        </div>
        <div class="im-content">
          <div class="im-title">{{ book.name }}</div>
          <div class="im-progress no-grid"><span class="im-per">{{ calculateBookPercentage(book) | number:'3.2-2'
              }}%</span> | {{getCurrentChapter(book)}} / {{book.last}} | {{ book.date | yyyyMmDdDate }}</div>
          <div class="im-space">

          </div>
          <div class="im-actions">
            <button title="{{ t('action.continue') }}" (click)="gotoBook(book)">
              <mat-icon>read_more</mat-icon>
            </button>
            <button title="{{ t('form.chapter_listing') }}" (click)="gotoBookChapters(book)">
              <mat-icon>list</mat-icon>
            </button>
          </div>
        </div>
        <div class="im-footer">
          <span class="im-per">{{ calculateBookPercentage(book) | number:'3.2-2' }}%</span>
          <span>{{getCurrentChapter(book)}} / {{book.last}}</span>
          <span>{{ book.date | yyyyMmDdDate }}</span>
        </div>
      </div>
      } @empty {

      }
    </div>

  </div>

  <div class="page-bottom">
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100, 150]"
      [pageIndex]="pageIndex" (page)="onPageChange($event)" [hidePageSize]="shouldHidePageSize"
      [showFirstLastButtons]="!shouldHidePageSize" aria-label="Select page">
    </mat-paginator>
  </div>
</ng-container>