.wrap {
    width: 90%;
    margin: auto;
    display: block;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
}

mat-card {
    color: black;
}

.example-card {
    display: block;
    margin: 16px;
}


.logging-card {
    display: block;
    width: 100%;
}

.log_view {
    width: 100%;
}

.log_time_column {
    width: 160px;
}

.log_status_column {
    width: 40px;
}

h4 {
    margin-top: 6px;
    margin-bottom: 0;
}