<div class="wrap">
    @if (task_data.id !== -1){

    <mat-toolbar color="accent">
        <mat-toolbar-row>

            <span>Process Detail</span>

            <span class="example-spacer"></span>

            <button mat-icon-button (click)="refreshData()" title="Refresh"><mat-icon>autorenew</mat-icon></button>
            @if (isRunning()) {
            @if (timer_running === false) {
            <button mat-icon-button (click)="startTimer()" title="Auto-Refresh"><mat-icon>play_arrow</mat-icon></button>
            } @else {
            <button mat-icon-button (click)="clearTimer()"
                title="Auto-Refresh"><mat-icon>stop_circle</mat-icon></button>
            }
            @if (canManage) {
            <button mat-icon-button (click)="cancelTask()" title="Cancel Process"><mat-icon>cancel</mat-icon></button>

            <button mat-icon-button [matMenuTriggerFor]="processLevelChooser"
                title="Process Level">{{nameForLevel(task_data.logging)}}</button>

            <mat-menu #processLevelChooser="matMenu">
                <button mat-menu-item (click)="changeProcessLevel(50)">Critical</button>
                <button mat-menu-item (click)="changeProcessLevel(40)">Error</button>
                <button mat-menu-item (click)="changeProcessLevel(30)">Warning</button>
                <button mat-menu-item (click)="changeProcessLevel(20)">Info</button>
                <button mat-menu-item (click)="changeProcessLevel(10)">Debug</button>
                <button mat-menu-item (click)="changeProcessLevel(0)">Trace</button>
            </mat-menu>
            }
            }

        </mat-toolbar-row>
    </mat-toolbar>

    <div id="process-listing">

        <app-process-info-card [task_data]="task_data"></app-process-info-card>
        <app-process-status-card [task_data]="task_data"></app-process-status-card>
        <app-process-details-card [task_data]="task_data"></app-process-details-card>

        <mat-card class="logging-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Task Logging</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <table class="log_view">
                    <thead>
                        <tr>
                            <th class="log_time_column">Time</th>
                            <th class="log_status_column"></th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    @for (log of (task_data.log | slice:-10).reverse(); track log){
                    <tr [class]="processService.getLoggingClass(log)">
                        <td>{{log.time}}</td>
                        <td><mat-icon>{{processService.getLoggingIconName(log)}}</mat-icon></td>
                        <td>{{log.text}}</td>
                    </tr>
                    }
                </table>


            </mat-card-content>
        </mat-card>

    </div>
    }
    @else {

    }
</div>