<div class="status-tag" [class.loading]="!stats">
    <mat-icon>speed</mat-icon>
    <div class="status-text">{{ stats ? (stats.cpu.toFixed(2) + '%') : '—' }}</div>
</div>
<div class="status-tag" [class.loading]="!stats">
    <mat-icon>memory</mat-icon>
    <div class="status-text">{{ stats ? ((stats.memory.used | byteFormat) + ' (' + stats.memory.percent + '%)') : '—' }}</div>
</div>
<div class="status-tag" [class.loading]="!stats">
    <mat-icon>arrow_circle_down</mat-icon>
    <div class="status-text">{{ stats ? (stats.netin | byteFormat) : '—' }}</div>
</div>
<div class="status-tag" [class.loading]="!stats">
    <mat-icon>arrow_circle_up</mat-icon>
    <div class="status-text">{{ stats ? (stats.netout | byteFormat) : '—' }}</div>
</div>
