<mat-card class="fill-grid-item" appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-icon mat-card-avatar>menu_book</mat-icon>
        <mat-card-title>{{ t('form.recent_books') }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            @for (historyItem of viewData; track historyItem) {
            <mat-list-item>
                <img matListItemAvatar
                    src="/api/volume/serve_preview/{{historyItem.book}}/{{historyItem.chapter}}"
                    alt="Item Preview">

                <span matListItemTitle>{{historyItem.name}}</span>

                <span matListItemLine class="item-meta">
                    <span>{{historyItem.chapter}}:({{historyItem.page}}{{(historyItem.mode == 'scroll' ? '%' : '#')}})</span>
                    @if (historyItem.timestamp) {
                    <span>{{historyItem.timestamp | formatDate}}</span>
                    }
                </span>

                <span matListItemMeta class="item-actions">
                    <a mat-icon-button [routerLink]="['/a-volume', 'book', historyItem.book]"
                        [title]="t('action.view')">
                        <mat-icon>folder</mat-icon>
                    </a>
                    <a mat-icon-button [routerLink]="['/a-volume', 'images', historyItem.book, historyItem.chapter, historyItem.mode, (historyItem.mode == 'scroll' ? '@' + historyItem.page : historyItem.page)]"
                        [title]="t('action.preview')">
                        <mat-icon>play_arrow</mat-icon>
                    </a>
                </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            } @empty {
            <mat-list-item>
                <span matListItemTitle>{{ t('form.no_data') }}</span>
            </mat-list-item>
            }
        </mat-list>
    </mat-card-content>

    <mat-card-footer>
        <mat-paginator [length]="totalItems" [pageSize]="6" [pageSizeOptions]="[6]"
            [pageIndex]="pageIndex" (page)="onPageChange($event)"
            [hidePageSize]="true" [showFirstLastButtons]="false"
            aria-label="Recent navigation">
        </mat-paginator>
    </mat-card-footer>
</mat-card>
