<mat-card class="fill-grid-item" appearance="outlined" *transloco="let t">
    <mat-card-title>{{ t('form.recent_books') }}</mat-card-title>
    <mat-card-content>

        <mat-list>
            @for (historyItem of viewData; track historyItem) {
            <mat-list-item class="clicker">
                <img matListItemAvatar src="/api/volume/serve_preview/{{historyItem.book}}/{{historyItem.chapter}}"
                    alt="Item Preview">

                <h3 matListItemTitle ng-bind-html>{{historyItem.name}}</h3>
                <p matListItemLine>
                    <button mat-mini-fab class="folder-action" [routerLink]="['/a-book', historyItem.book]">
                        <mat-icon>folder</mat-icon>
                    </button>
                    &nbsp;
                    <button mat-mini-fab class="folder-action" [routerLink]="['/a-images', historyItem.book, historyItem.chapter, historyItem.mode, (historyItem.mode == 'scroll' ? '@' + historyItem.page : historyItem.page)]">
                        <mat-icon>preview</mat-icon>
                    </button>
                    &nbsp;
                    <span ng-bind-html>{{historyItem.chapter}}:({{historyItem.page}}{{(historyItem.mode == 'scroll' ? '%' : '#')}})</span>
                    &nbsp;
                    @if (historyItem.timestamp) {
                    <span>{{historyItem.timestamp | formatDate }}</span>
                    }
                </p>

            </mat-list-item>
            } @empty {
            <mat-list-item>
                <h3 matListItemTitle>{{ t('form.no_data') }}</h3>
            </mat-list-item>
            }
        </mat-list>

    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [length]="totalItems" [pageSize]="6" [pageSizeOptions]="[6]" [pageIndex]="pageIndex"
            (page)="onPageChange($event)" [hidePageSize]="true" [showFirstLastButtons]="false"
            aria-label="Recent mavigation">
        </mat-paginator>
    </mat-card-footer>
</mat-card>