<mat-card class="fill-grid-item" appearance="outlined">
    <mat-card-title>Recent Books</mat-card-title>
    <mat-card-content>

        <mat-list>
            @for (historyItem of viewData; track historyItem) {
            <mat-list-item class="clicker"
                [routerLink]="['/a-images', historyItem.book, historyItem.chapter, historyItem.mode, (historyItem.mode == 'scroll' ? '@' + historyItem.page : historyItem.page)]">
                <img matListItemAvatar src="/api/volume/serve_preview/{{historyItem.book}}/{{historyItem.chapter}}"
                    alt="Item Preview">

                <h3 matListItemTitle>{{historyItem.name}}</h3>
                <p matListItemLine>
                    <span>{{historyItem.chapter}}:({{historyItem.page}}{{(historyItem.mode == 'scroll' ? '%' : '#')}})</span>
                    &nbsp;
                    @if (historyItem.timestamp) {
                    <span>{{historyItem.timestamp | formatDate }}</span>
                    }
                </p>

            </mat-list-item>
            } @empty {
            <mat-list-item>
                <h3 matListItemTitle>No History</h3>
            </mat-list-item>
            }
        </mat-list>

    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [length]="totalItems" [pageSize]="6" [pageSizeOptions]="[6]" [pageIndex]="pageIndex"
            (page)="onPageChange($event)" [hidePageSize]="true" [showFirstLastButtons]="false"
            aria-label="Recent mavigation">
        </mat-paginator>
    </mat-card-footer>
</mat-card>