@if (selectedBook) {

<mat-toolbar color="accent">
  <mat-toolbar-row>

    <span style="font-weight: bold;">Chapters</span>
    @if (canBookmark) {
    /
    <span [routerLink]="['/a-books-bookmarks', this.selectedBook]">Bookmarks</span>
    }

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="pageActions" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #pageActions="matMenu">
      
      @if(canManage) {
      <button mat-menu-item title="Edit details" [routerLink]="['/a-book-details', this.selectedBook]">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      }

      @if (canPlugin) {
      @for (plugin of actionPlugins; track plugin.id) {
        <button  mat-menu-item title="Plugin Action" [routerLink]="['/a-plugin-action-book', plugin.id, selectedBook]">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">{{plugin.icon}}</mat-icon>
            <span>{{plugin.name}}</span>
        </button>
      }
      }

    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>


<div class="chapters" #scrollToTop>

  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

  <mat-grid-list [cols]="numberOfColumns" rowHeight="1:1">


    @for (chapter of pagedItems; track chapter) {
    <mat-grid-tile>
      <mat-grid-tile-header>
        <span class="example-spacer"></span>
        {{ chapter.name }}
        @if (isNewChapter(chapter)) {
        &nbsp;<mat-icon>cake</mat-icon>
        }
        <span class="example-spacer"></span>
      </mat-grid-tile-header>
      <a class="chapter-link" [routerLink]="['/a-images', this.selectedBook, chapter.name, chapterData.style]">
        <img class="cover-image" src="/api/volume/serve_preview/{{this.selectedBook}}/{{chapter.name}}" />
      </a>
    </mat-grid-tile>
    } @empty {
    <mat-grid-tile>No Chapters</mat-grid-tile>
    }
  </mat-grid-list>

</div>

<div id="page-bottom">
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50]" [pageIndex]="pageIndex"
    (page)="onPageChange($event)" [hidePageSize]="shouldHidePageSize" [showFirstLastButtons]="!shouldHidePageSize"
    aria-label="Select page">
  </mat-paginator>
</div>

}