:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

mat-toolbar {
    flex: 0 1 auto;
}

.content {
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
}

.chapter-holder {
    padding: 4px 32px;

    font-weight: bold;
    font-weight: 16px;
}

.chapter-link {
    display: inline-block;
    padding: 4px 32px;
    margin: 8px;

    font-weight: bold;
    font-weight: 16px;
    text-align: center;
    overflow: hidden;

    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.08);
    color: inherit;
}

.light-theme .chapter-link {
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.06);
}

.actions {
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

#page-bottom {
    flex: 0 1 auto;
}

mat-grid-tile.unread {
    background-color: rgba(32, 178, 170, 0.2);
}
