<h2 mat-dialog-title *transloco="let t">{{ t('form.process_details') }}</h2>
<mat-dialog-content *transloco="let t">

    @if (task_data.id !== -1){

    <app-process-info-card [task_data]="task_data"></app-process-info-card>
    <app-process-status-card [task_data]="task_data"></app-process-status-card>
    <app-process-details-card [task_data]="task_data"></app-process-details-card>

    <br />

    <h2>{{ t('form.task_logging') }}</h2>

    <table class="log_view">
        <thead>
            <tr>
                <th>{{ t('form.time') }}</th>
                <th></th>
                <th>{{ t('form.message') }}</th>
            </tr>
        </thead>
        @for (log of task_data.log; track log){
        <tr [class]="processService.getLoggingClass(log)">
            <td>{{log.time}}</td>
            <td><mat-icon>{{processService.getLoggingIconName(log)}}</mat-icon></td>
            <td>{{log.text}}</td>
        </tr>
        }
    </table>
    }
    @else {
    {{ t('form.no_data') }}
    }

</mat-dialog-content>
<mat-dialog-actions *transloco="let t">
    @if (isRunning()) {
    <button mat-button (click)="refreshData()">{{ t('action.refresh') }}</button>
    @if(canManage) {
    <button mat-button (click)="cancelTask()">{{ t('action.cancel') }}</button>
    <button mat-button (click)="promoteTask()">{{ t('action.promote') }}</button>

    <button mat-icon-button [matMenuTriggerFor]="processLevelChooser"
        title="{{ t('form.process_level') }}">{{ t(keyForLevel(task_data.logging)) }}</button>

    <mat-menu #processLevelChooser="matMenu">
        <button mat-menu-item (click)="changeProcessLevel(50)">{{ t('option.critical') }}</button>
        <button mat-menu-item (click)="changeProcessLevel(40)">{{ t('option.error') }}</button>
        <button mat-menu-item (click)="changeProcessLevel(30)">{{ t('option.warning') }}</button>
        <button mat-menu-item (click)="changeProcessLevel(20)">{{ t('option.info') }}</button>
        <button mat-menu-item (click)="changeProcessLevel(10)">{{ t('option.debug') }}</button>
        <button mat-menu-item (click)="changeProcessLevel(0)">{{ t('option.trace') }}</button>
    </mat-menu>
    }
    }
    <button mat-button (click)="closeDialog()">{{ t('action.close') }}</button>
</mat-dialog-actions>