<ng-container *transloco="let t">
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <a [routerLink]="['/a-properties']" class="back-link">
                <mat-icon>arrow_back_ios</mat-icon>
            </a>
            <span>{{ t('form.edit_property') }}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    @if (ready) {
    <div class="content">
        <div class="form-container">

            <mat-card class="form-card">
                <mat-card-content>

                    <mat-form-field class="full-width">
                        <mat-label>{{ property_id }}</mat-label>
                        <input matInput type="text" [(ngModel)]="property_value" />
                        <mat-hint>{{ property_comment }}</mat-hint>
                    </mat-form-field>

                </mat-card-content>
            </mat-card>

        </div>
    </div>

    <mat-toolbar>
        <span class="toolbar-spacer"></span>
        <button mat-flat-button color="primary" (click)="update()">{{ t('action.update') }}</button>
    </mat-toolbar>
    }
</ng-container>
