<ng-container *transloco="let t">
<mat-toolbar color="accent">
    <mat-toolbar-row>

        @if (folder_id) {
        <a [routerLink]="['/a-media', 'browse', folder_id]" style="line-height: 15px;">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        } @else if (folder_parent_id) {
        <a [routerLink]="['/a-media', 'browse', folder_parent_id]" style="line-height: 15px;">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        } @else {
        <a [routerLink]="['/a-media']" style="line-height: 15px;">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        }

        <span>{{ t(title) }}</span>
    </mat-toolbar-row>
</mat-toolbar>
@if (ready) {
<div id="sub-content">
    <div class="entry_form">
        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.name') }}</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="folder_name" />
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.info_url') }}</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="folder_info_url" />
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.tags') }}</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="folder_tags" />
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.status') }}</mat-label>
                    <mat-select name="book_active" [(ngModel)]="folder_active">
                        <mat-option [value]="false">{{ t('option.inactive') }}</mat-option>
                        <mat-option [value]="true">{{ t('option.active') }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br />

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.rating') }}</mat-label>
                    <mat-select name="media_rating" [(ngModel)]="folder_media_level">
                        @if ( 0 <= max_rating && 0>= min_rating ) {
                            <mat-option [value]="0">{{ t('form.rating_g') }}</mat-option>
                            }
                            @if ( 40 <= max_rating && 40>= min_rating ) {
                                <mat-option [value]="40">{{ t('form.rating_pg') }}</mat-option>
                                }
                                @if ( 60 <= max_rating && 60>= min_rating) {
                                    <mat-option [value]="60">{{ t('form.rating_pg13') }}</mat-option>
                                    }
                                    @if ( 80 <= max_rating && 80>= min_rating) {
                                        <mat-option [value]="80">{{ t('form.rating_r17') }}</mat-option>
                                        }
                                        @if ( 90 <= max_rating && 90>= min_rating) {
                                            <mat-option [value]="90">{{ t('form.rating_rplus') }}</mat-option>
                                            }
                                            @if ( 100 <= max_rating && 100>= min_rating) {
                                                <mat-option [value]="100">{{ t('form.rating_rx') }}</mat-option>
                                                }
                                                @if ( 200 <= max_rating && 200>= min_rating) {
                                                    <mat-option [value]="200">{{ t('form.rating_unrated') }}</mat-option>
                                                    }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div>
            <div class="value">
                <mat-form-field class="example-full-width">
                    <mat-label>{{ t('form.owning_group') }}</mat-label>
                    <mat-select name="media_rating" [(ngModel)]="folder_gid">
                        <mat-option [value]="undefined">{{ t('option.none') }}</mat-option>
                        @for (item of available_groups; track item.id) {
                            <mat-option [value]="item.id">{{item.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="actions">
            @if (is_new) {
            <button (click)="createFolder()">{{ t('action.create') }}</button>
            } @else {
            <button (click)="updateFolder()">{{ t('action.update') }}</button>
            }
        </div>
    </div>

</div>
}
</ng-container>