<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Email:</label>
            <br/>
            <input name="username" formControlName="email"/>
        </div>
        <div class="form-field">
            <label>Password:</label>
            <br/>
            <input name="password" formControlName="password" type="password"/>
        </div>
    </fieldset>
    <br/>
    <div class="form-buttons">
        <button type="submit" class="button button-primary" 
                (click)="login()">Login</button>
    </div>
</form>
<form [formGroup]="form2">
    @if (hasHardSession) {
    <fieldset>
        <legend>Hard Session Authentication</legend>
        <div class="form-field">
            <label>Session PIN:</label>
            <br/>
            <input name="hard_session_pin" formControlName="pin" type="password"/>
        </div>
    </fieldset>
    <br/>
    <div class="form-buttons">
        <button type="submit" class="button button-primary" 
                (click)="hard_session()">Use Hard Session</button>
    </div>
    }
</form>