<ng-container *transloco="let t">
<form [formGroup]="form">
    <fieldset>
        <legend>{{ t('form.login') }}</legend>
        <div class="form-field">
            <label>{{ t('form.email') }}</label>
            <br/>
            <input name="username" formControlName="email"/>
        </div>
        <div class="form-field">
            <label>{{ t('form.password') }}</label>
            <br/>
            <input name="password" formControlName="password" type="password"/>
        </div>
    </fieldset>
    <br/>
    <div class="form-buttons">
        <button type="submit" class="button button-primary" 
                (click)="login()">{{ t('form.login') }}</button>
    </div>
</form>
<form [formGroup]="form2">
    @if (hasHardSession) {
    <fieldset>
        <legend>{{ t('form.hard_session_auth') }}</legend>
        <div class="form-field">
            <label>{{ t('form.session_pin') }}</label>
            <br/>
            <input name="hard_session_pin" formControlName="pin" type="password"/>
        </div>
    </fieldset>
    <br/>
    <div class="form-buttons">
        <button type="submit" class="button button-primary" 
                (click)="hard_session()">{{ t('form.use_hard_session') }}</button>
    </div>
    }
</form>
</ng-container>