<ng-container *transloco="let t">
<mat-toolbar color="accent">
    <mat-toolbar-row>

        @if (this.folder_id) {
        <a [routerLink]="['/a-media', 'browse', this.folder_id]" style="line-height: 15px;">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        } @else if (this.book_id) {
        <a [routerLink]="['/a-book', this.book_id]" style="line-height: 15px;">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
        }

        <span>{{getPluginName(plugin)}}</span>

    </mat-toolbar-row>
</mat-toolbar>
<div id="process-listing">

    <form [formGroup]="formGroup" class="example-form">

        <blockquote>{{getPluginTitle(plugin)}}</blockquote>

        <p *ngFor="let field of plugin.args" class="arg-p">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>{{ getFieldName(field, plugin) }}</mat-label>

                <!-- Input for text fields -->
                <input matInput *ngIf="field.type === 'string' || field.type === 'filename'" type="text"
                    [formControlName]="field.id" />

                <!-- Textarea for textarea fields -->
                <textarea matInput *ngIf="field.type === 'longstring'" [formControlName]="field.id"></textarea>

                @if (field.type == 'mfcmf' || field.type=='mfc') {
                <input matInput type="text" [formControlName]="field.id" readonly="" />
                <button (click)="showChooser(field.type, field.id)"><mat-icon>folder</mat-icon></button>
                } @else if (field.type == 'mfd') {

                <input matInput type="text" readonly="true" [formControlName]="field.id" readonly="" />
                } @else if (field.type == 'url') {
                <input matInput type="text" [formControlName]="field.id" readonly="" />
                <button (click)="pasteUrl(field.id)"><mat-icon>content_paste</mat-icon></button>
                }

                <!-- Select for select fields -->
                <mat-select *ngIf="field.type === 'select'" [formControlName]="field.id">
                    <mat-option *ngFor="let option of field.values" [value]="option.id">{{ getFieldOptionValue(option.id, option.name, field, plugin) }}</mat-option>
                </mat-select>

                <mat-hint>
                    @if (field.type == 'mfd') {
                    <h3 class="node_name">
                        <app-node-name [node_id]="choices.get(field.id) || ''"></app-node-name>
                    </h3>
                    }
                    {{ getFieldHint(field, plugin) }}
                </mat-hint>
            </mat-form-field>
            <!-- Textarea for textarea fields -->
            @if (field.type === 'filename') {
        <div class="filename-section">
            <div class="buttons">
                <button mat-mini-button (click)="updateFilename(field.id, -1, 0, '')">-</button>
                {{ t('action.season') }}
                <button mat-mini-button (click)="updateFilename(field.id, 1, 0, '')">+</button>
                &nbsp;
                <button mat-mini-button (click)="updateFilename(field.id, 0, -1, '')">-</button>
                {{ t('action.spisode') }}
                <button mat-mini-button (click)="updateFilename(field.id, 0, 1, '')">+</button>
            </div>

            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Language</mat-label>
                <mat-select (selectionChange)="onFilenameChange(field.id, $event)" value="en">
                    <mat-option value="en">{{ t('action.english') }}</mat-option>
                    <mat-option value="jp">{{ t('action.japanese') }}</mat-option>
                    <mat-option value="cn">{{ t('action.chinese') }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        }
        </p>
        <p class="arg-actions">
            <button mat-flat-button (click)="executeForm()">{{ t('action.execute') }}</button>
            &nbsp;
            <button mat-flat-button (click)="onReset()">{{ t('action.reset') }}</button>
        </p>
    </form>

    <app-process-widget [task_id]="task_id"></app-process-widget>
</div>
</ng-container>