<ng-container *transloco="let t">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{ t('menu_manage.group_listing') }}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="pageActions" aria-label="page menu" title="{{ t('action.sub_menu') }}">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #pageActions="matMenu">
        <button mat-menu-item [routerLink]="['/a-group/new']">{{ t('menu_new.group') }}</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="list-container" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <mat-card class="list-card">
      <mat-list>
        @for (group of groups; track group.id) {
        <mat-list-item [routerLink]="['/a-group', 'edit', group.id]" class="list-item">
          <mat-icon matListItemIcon>group</mat-icon>
          <span matListItemTitle>{{ group.name }}</span>
          <span matListItemLine>{{ group.description }}</span>
          <mat-icon matListItemMeta>chevron_right</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>
    </mat-card>
  </div>

</ng-container>
