<ng-container *transloco="let t">
<mat-toolbar color="accent">
    <mat-toolbar-row>

        <span style="font-weight: bold;">{{ t('menu_manage.group_listing') }}</span>

        <span class="example-spacer"></span>


        <button mat-icon-button [matMenuTriggerFor]="pageActions" aria-label="page menu" title="{{ t('action.sub_menu') }}">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #pageActions="matMenu">
            <button mat-menu-item [routerLink]="['/a-group/new']">{{ t('menu_new.group') }}</button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>



<div class="series" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <table>
        <thead>
            <tr>
                <th>{{ t('form.group') }}</th>
                <th>{{ t('form.description') }}</th>
            </tr>
        </thead>
        <tbody>
            @for (group of groups; track group.id) {
            <tr>
                <td><a [routerLink]="['/a-group', 'edit', group.id]">{{group.name}}</a></td>
                <td>{{group.description}}</td>
            </tr>
            }
        </tbody>
    </table>

</div>

<div id="page-bottom">
    <!--
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100]" [pageIndex]="pageIndex"
      (page)="onPageChange($event)" [hidePageSize]="shouldHidePageSize" [showFirstLastButtons]="!shouldHidePageSize"
      aria-label="Select page">
    </mat-paginator>
    -->
</div>
</ng-container>