<ng-container *transloco="let t">
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <span>{{ t('form.change_password') }}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div id="sub-content">
        <div class="entry_form">

            <div>
                <div class="value">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ t('form.current_password') }}</mat-label>
                        <input matInput type="password" name="old_password" [(ngModel)]="user_old_password" />
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div class="value">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ t('form.new_password') }}</mat-label>
                        <input matInput type="password" name="password" [(ngModel)]="user_password" />
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div class="value">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ t('form.again_password') }}</mat-label>
                        <input matInput type="password" name="password2" [(ngModel)]="user_password_2" />
                    </mat-form-field>
                </div>
            </div>


            <div class="actions">
                <button (click)="changePassword()">{{ t('form.change_password') }}</button>
            </div>
        </div>
    </div>
</ng-container>