<ng-container *transloco="let t">
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <a routerLink="/" class="back-link">
                <mat-icon>arrow_back_ios</mat-icon>
            </a>
            <span>{{ t('form.change_password') }}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="main_content">
        <div class="entry_form">

            <mat-form-field class="full-width">
                <mat-label>{{ t('form.current_password') }}</mat-label>
                <input matInput type="password" name="old_password" [(ngModel)]="user_old_password" />
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>{{ t('form.new_password') }}</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="user_password" />
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>{{ t('form.again_password') }}</mat-label>
                <input matInput type="password" name="password2" [(ngModel)]="user_password_2" />
            </mat-form-field>

            <div class="actions">
                <button mat-flat-button color="primary" (click)="changePassword()">
                    <mat-icon>lock_reset</mat-icon>
                    {{ t('form.change_password') }}
                </button>
            </div>
        </div>
    </div>
</ng-container>