<ng-container *transloco="let t">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{ t('menu_manage.manage_hard_sessions') }}</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="list-container" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <mat-card class="list-card">
      <mat-list>
        @for (ses of sessions; track ses.id) {
        <mat-list-item class="session-item">
          <mat-icon matListItemIcon>security_key</mat-icon>
          <span matListItemTitle>{{ t('form.sessionid') }}: {{ ses.id }} &nbsp;·&nbsp; {{ t('form.userid') }}: {{ ses.uid }}</span>
          <span matListItemLine>
            {{ t('form.created') }}: {{ ses.created }}
            &nbsp;·&nbsp;
            {{ t('form.last_date') }}: {{ ses.last }}
            &nbsp;·&nbsp;
            {{ t('form.expired_date') }}: {{ ses.expired }}
          </span>
          <button matListItemMeta mat-icon-button color="warn" (click)="removeSession(ses)" [title]="t('action.delete')">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>
    </mat-card>
  </div>

</ng-container>
