.entry_form {
    margin: auto;
    width: 300px;
    padding: 3em;
}

.entry_form input,
.entry_form select {
    width: 100%;
}

.label {
    font-weight: bold;
    padding: 4px;
}

.value input,
.value select {
    padding: 4px;
}

.actions {
    text-align: center;
    padding: 4px;
}

#sub-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    overflow: hidden;
    overflow-y: auto;
}

.example-full-width {
    width: 100%;
}