<mat-toolbar color="primary">

    <button mat-button title="Dashboard" routerLink="/a-dash" >
        <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">home</mat-icon>
    </button>

    @if (showBooks) {
    <button mat-button title="Volume Service" routerLink="/a-books" >
        <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">library_books</mat-icon>
    </button>
    }

    @if (showMedia) {
    <button mat-button title="Media Service" routerLink="/a-media"><mat-icon
            style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">folder</mat-icon>
    </button>    
    }

    <span class="flexExpand"></span>

    <app-wait-for-server [trigger]="startPolling"></app-wait-for-server>

    <span class="flexExpand"></span>

    @if (authenticated && showBooks) {
    <!--
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>history</mat-icon>
    </button>
    -->
    }

   @if (authenticated && showProcesses) {
        <button mat-icon-button (click)="openProcessListingDialog()" aria-label="See processes">
            <mat-icon>memory</mat-icon>
        </button>
   }

    <!--
    <mat-menu #menu="matMenu">
    @for (historyItem of limitedHistotyData; track historyItem) {
        <button mat-menu-item [routerLink]="['/a-images', historyItem.book, historyItem.chapter, historyItem.mode, historyItem.page]">
            <img class="history-image" src="/api/volume/serve_preview/{{historyItem.book}}/{{historyItem.chapter}}"/>
            <span>
                {{historyItem.book}} <br/> {{ historyItem.chapter }} - {{ historyItem.page }}
            </span>
        </button>
                    
        } @empty {
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>No History</span>
        </button>
        }
    </mat-menu>
    -->

    <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="button for main menu">
        <mat-icon>apps</mat-icon>
    </button>

    <mat-menu #mainMenu="matMenu">

        <button mat-menu-item title="Login" (click)="refresh()">
            <mat-icon
                style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">refresh</mat-icon>
            <span>Refresh</span>
        </button>

		@if (authenticated) {

        @if (canManageBooks) {
        <button mat-menu-item [matMenuTriggerFor]="newMenu">New</button>
        }

        @if (showPlugins) {
        <button mat-menu-item [matMenuTriggerFor]="pluginMenu">Plugins</button>
        }

        @if (authenticated) {
        <button mat-menu-item [matMenuTriggerFor]="appMenu">Management</button>
        }
        
        @if (showProcesses) {
        <button  mat-menu-item title="View tasks" [routerLink]="['/a-tasks']">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">memory</mat-icon>
            <span>Processes</span>
        </button>
        }

        }

        <mat-divider></mat-divider>

        @if (authenticated) {

            <button mat-menu-item title="Renew Token" (click)="renew()">
                <mat-icon
                    style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">restart_alt</mat-icon>
                <span>Renew Token</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item title="Leave" (click)="logOut()">
                <mat-icon
                    style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">logout</mat-icon>
                <span>Logout</span>
            </button>
        } @else {
            <button mat-menu-item title="Login" [routerLink]="['/a-login']">
                <mat-icon
                    style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">login</mat-icon>
                <span>Login</span>
            </button>
        }
		
    </mat-menu>

    <mat-menu #newMenu="matMenu">    
        @if (canManageBooks) {
        <button  mat-menu-item title="Add new book definition" [routerLink]="['/a-addbook']">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">book</mat-icon>
            <span>Book</span>
        </button>
        }
    </mat-menu>

    <mat-menu #appMenu="matMenu">
        <button mat-menu-item title="Change Password" [routerLink]="['/a-change-password']">
            <mat-icon
                style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">key</mat-icon>
            <span>Change Password</span>
        </button>
            
    
        @if (canManageApp) {
        <mat-divider></mat-divider>

        <button  mat-menu-item title="View users" [routerLink]="['/a-users']">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">group</mat-icon>
            <span>User Listing</span>
        </button>

        <button  mat-menu-item title="View users" [routerLink]="['/a-groups']">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">groups</mat-icon>
            <span>Group Listing</span>
        </button>

        <button  mat-menu-item title="View properties" [routerLink]="['/a-properties']">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">settings</mat-icon>
            <span>Property Listing</span>
        </button>

        <mat-divider></mat-divider>

        <button  mat-menu-item title="Restart server"  (click)="restartServer()">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">restart_alt</mat-icon>
            <span>Restart Server</span>
        </button>

        <button  mat-menu-item title="Stop server" (click)="stopServer()">
            <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">close</mat-icon>
            <span>Stop Server</span>
        </button>
        }
    </mat-menu>

    <mat-menu #pluginMenu="matMenu">
        @if (generalPlugins.length > 0) {
        <button mat-menu-item [matMenuTriggerFor]="generalPluginMenu">General</button>
        }
        @if (utilityPlugins.length > 0) {
        <button mat-menu-item [matMenuTriggerFor]="utilityPluginMenu">Utility</button>
        }
        @if (bookPlugins.length > 0) {
        <button mat-menu-item [matMenuTriggerFor]="bookPluginMenu">Books</button>
        }
        @if (mediaPlugins.length > 0) {
        <button mat-menu-item [matMenuTriggerFor]="mediaPluginMenu">Media</button>
        }     
    </mat-menu>
    
    <mat-menu #generalPluginMenu="matMenu">
        @for (plugin of generalPlugins; track plugin.id) {
            <button  mat-menu-item title="Plugin Action" [routerLink]="['/a-plugin-action', plugin.id]">
                <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">{{plugin.icon}}</mat-icon>
                <span>{{plugin.name}}</span>
            </button>
        }
    </mat-menu>

    
    <mat-menu #utilityPluginMenu="matMenu">
        @for (plugin of utilityPlugins; track plugin.id) {
            <button  mat-menu-item title="Plugin Action" [routerLink]="['/a-plugin-action', plugin.id]">
                <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">{{plugin.icon}}</mat-icon>
                <span>{{plugin.name}}</span>
            </button>
        }
    </mat-menu>

    
    <mat-menu #bookPluginMenu="matMenu">
        @for (plugin of bookPlugins; track plugin.id) {
            <button  mat-menu-item title="Plugin Action" [routerLink]="['/a-plugin-action', plugin.id]">
                <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">{{plugin.icon}}</mat-icon>
                <span>{{plugin.name}}</span>
            </button>
        }
    </mat-menu>

    
    <mat-menu #mediaPluginMenu="matMenu">
        @for (plugin of mediaPlugins; track plugin.id) {
            <button  mat-menu-item title="Plugin Action" [routerLink]="['/a-plugin-action', plugin.id]">
                <mat-icon style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">{{plugin.icon}}</mat-icon>
                <span>{{plugin.name}}</span>
            </button>
        }
    </mat-menu>
    
    
</mat-toolbar>

<div id="body" [className]="bodyClass">
<router-outlet></router-outlet>
</div>