#header {
    position: absolute;
    left: 0;
    right: 0;
    height: 64px;
    top: 0;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.light-theme #header {
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

#header .links {
    padding-top: 6px;
    padding-left: 32px;
}

#body {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#body > .ng-star-inserted {
    flex: 1 1 auto;
}

#body.mini {

}

.flexExpand {
    flex: 1 1 auto;
}

.history-image {
    display: inline-block;
    width: 64px;
    height: 64px;
    object-fit: contain;
}

mat-toolbar {
    flex: 0 1 auto;
}

mat-toolbar .active {
    background-color: rgba(33, 150, 243, 0.3);
    border-radius: 4px;
}

mat-toolbar .mat-mdc-button > .mat-icon {
    margin-left: 0;
    margin-right: 0;
}
