<ng-container *transloco="let t">
<h2 mat-dialog-title>{{ t('form.process_listing') }}</h2>
<mat-dialog-content>

  <table>
    <thead>
        <tr>
            <th>{{ t('form.task_id') }}</th>
            <th>{{ t('form.task_status_percents') }}</th>
        </tr>
    </thead>
@for (item of statusList; track item.id) {
    <tr>
        <td>
            <button (click)="openProcessDetailDialog(item.id)">{{ item.id }} - {{ item.name }}</button>
        </td>
        <td [className]="getclasssFor(item)" style="text-align: center;" ><mat-icon style="font-size: 18px; display: inline-block; vertical-align: middle; line-height: 22px;">{{getIconFor(item)}}</mat-icon> / {{ item.progress | number: '3.0-0'}} | {{ item.percent | number: '3.0-0'}}</td>
    </tr>
} @empty {
    <tr>
        <td colspan="2" style="text-align: center; font-weight: normal;">{{ t('form.no_data') }}</td>
    </tr>
}
    </table>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="refresh()">{{ t('action.refresh') }}</button>
  @if(canManage) {
      <button mat-button (click)="cleanOldProcesses()">{{ t('action.hard_clean') }}</button>
      <button mat-button (click)="sweepOldProcesses()">{{ t('action.soft_clean') }}</button>
  }
  <button mat-button (click)="closeDialog()">{{ t('action.close') }}</button>
</mat-dialog-actions>
</ng-container>