<ng-container *transloco="let t">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{ t('menu_manage.user_listing') }}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="pageActions" aria-label="sub menu"
        title="{{ t('action.sub_menu') }}">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #pageActions="matMenu">
        <button mat-menu-item [routerLink]="['/a-new-user']">{{ t('menu_new.user') }}</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="list-container" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <mat-card class="list-card">
      <mat-list>
        @for (user of users; track user.id) {
        <mat-list-item [routerLink]="['/a-user', user.id]" class="user-item">
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemTitle>{{ user.username }}</span>
          <span matListItemLine class="feature-line">
            <span class="limit-badge">{{ formatLimit(user.volume_limit) }}</span>
            <span class="limit-badge">{{ formatLimit(user.media_limit) }}</span>
            @if (hasFeature(user.features, featureService.MANAGE_APP)) {
            <mat-icon class="feat-icon" title="Admin">admin_panel_settings</mat-icon>
            }
            @if (hasFeature(user.features, featureService.MANAGE_VOLUME)) {
            <mat-icon class="feat-icon" title="Manage Volume">library_books</mat-icon>
            }
            @if (hasFeature(user.features, featureService.MANAGE_MEDIA)) {
            <mat-icon class="feat-icon" title="Manage Media">folder</mat-icon>
            }
            @if (hasFeature(user.features, featureService.VIEW_VOLUME)) {
            <mat-icon class="feat-icon view-icon" title="View Volume">menu_book</mat-icon>
            }
            @if (hasFeature(user.features, featureService.VIEW_MEDIA)) {
            <mat-icon class="feat-icon view-icon" title="View Media">perm_media</mat-icon>
            }
            @if (hasFeature(user.features, featureService.VIEW_PROCESSES)) {
            <mat-icon class="feat-icon view-icon" title="View Processes">memory</mat-icon>
            }
          </span>
          <mat-icon matListItemMeta>chevron_right</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>
    </mat-card>
  </div>

</ng-container>
