:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.merge {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  overflow: hidden;
}

.controls {
  flex: 0 1 auto;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.image-container {
  flex: 1 1 auto;
  overflow: auto;
  background-color: lightcyan;
  background-image: url(/assets/grid-16x16.png);
  background-repeat: repeat;
}

.alt-image {
  background-color: lightpink;
  background-image: url(/assets/grid2-16x16.png);
  background-repeat: repeat;
}

.slider {
  margin-top: 10px;
}