<mat-toolbar color="accent" *transloco="let t">
    <mat-toolbar-row>
        <span style="font-weight: bold;">{{ t('app.title') }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="widgets">

<mat-grid-list [cols]="numberOfColumns" rowHeight="600px"  [gutterSize]="'10px'">
    @if (authenticated && showBooks) {
    <mat-grid-tile>
        <app-recent-volume-widget></app-recent-volume-widget>
    </mat-grid-tile>
    }
    @if (authenticated && showMedia) {
    <mat-grid-tile>
        <app-recent-media-widget></app-recent-media-widget>
    </mat-grid-tile>
    }
    @if (authenticated && showDrives) {
    <mat-grid-tile>
        <app-drive-widget></app-drive-widget>
    </mat-grid-tile>
    }
</mat-grid-list>

</div>