<div class="controls">

        <mat-slider min="1" [max]="maxPosition" step="1">
            <input matSliderThumb [(ngModel)]="splitPosition" (input)="onSliderChange($event)" >
        </mat-slider>
        &nbsp;

        <mat-checkbox [(ngModel)]="isHorizontal" (change)="onSplitOptionChange()">Horizontal Split</mat-checkbox>
        <mat-checkbox [(ngModel)]="keepFirst" (change)="onSplitOptionChange()">Keep First</mat-checkbox>
        &nbsp;

        <button mat-flat-button (click)="confirmSplit()">Split Image</button>
        &nbsp;

        <button mat-stroked-button (click)="cancelSplit()">Cancel Split</button>
</div>


<div class="image-container" #scrollMaster>
    <img #imageElement [src]="imageUrl" alt="Image to split" />
</div>