<div class="splitter">

    <div class="controls">
        <button mat-icon-button (click)="nudge(-1)" title="Nudge left/up">
            <mat-icon>remove</mat-icon>
        </button>
        <mat-slider min="1" [max]="maxPosition" step="1" class="slider_control">
            <input matSliderThumb [(ngModel)]="splitPosition" (input)="onSliderChange($event)">
        </mat-slider>
        <button mat-icon-button (click)="nudge(1)" title="Nudge right/down">
            <mat-icon>add</mat-icon>
        </button>

        <mat-checkbox [(ngModel)]="isHorizontal" (change)="onSplitOptionChange()">Horizontal</mat-checkbox>
        <mat-checkbox [(ngModel)]="keepFirst" (change)="onSplitOptionChange()">Keep First</mat-checkbox>

        <span class="controls-spacer"></span>

        <button mat-flat-button color="primary" (click)="confirmSplit()">
            <mat-icon>content_cut</mat-icon>
            Split Image
        </button>
        <button mat-stroked-button (click)="cancelSplit()">Cancel</button>
    </div>

    <div class="splitter-body">
        <div class="image-container" #scrollMaster>
            <img class="back-image" #backImageElement [src]="imageUrl" />
            <img class="top-image" #imageElement [src]="imageUrl" />
        </div>

        <div class="preview-container">
            <div class="preview-viewport">
                <img #previewImage [src]="imageUrl" class="preview-image" />
                <div class="preview-line"></div>
            </div>
        </div>
    </div>
</div>
