<ng-container *transloco="let t">
<mat-toolbar color="accent">
    <mat-toolbar-row>

        <span style="font-weight: bold;">{{ t('menu_manage.group_listing') }}</span>

        <span class="example-spacer"></span>


        <button mat-icon-button [matMenuTriggerFor]="pageActions" aria-label="page menu" title="{{ t('action.sub_menu') }}">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #pageActions="matMenu">
            <button mat-menu-item [routerLink]="['/a-media', 'folder', 'tag', 'new']">{{ t('menu_new.tag') }}</button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>


<div class="list-container" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <mat-card class="list-card">
        <mat-list>
            @for (tag of tags; track tag.bit) {
            <mat-list-item [routerLink]="['/a-media', 'folder', 'tag', 'edit', tag.bit]" class="tag-item">
                <mat-icon matListItemIcon>label</mat-icon>
                <span matListItemTitle>{{ tag.long }}</span>
                <span matListItemLine class="feature-line">
                    <span class="limit-badge">bit: {{ tag.bit }}</span>
                    <span class="limit-badge">short: {{ tag.short }}</span>
                </span>
                <mat-icon matListItemMeta>chevron_right</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
        </mat-list>
    </mat-card>
</div>

<div id="page-bottom">
</div>
</ng-container>