@if (task_data) {
<mat-card class="example-card" appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-card-title>{{ t('form.task_information') }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3>{{task_data.name}}</h3>
        <p>{{task_data.description}}</p>
        @if (task_data.book_id) {
            <a [routerLink]="['/a-book', task_data.book_id]"><mat-icon>library_books</mat-icon></a>
        }
        @if (task_data.folder_id) {
            <a [routerLink]="['/a-media', 'browse', task_data.folder_id]"><mat-icon>folder</mat-icon></a>
        }
    </mat-card-content>
    <mat-card-footer class="example-card-footer">

    </mat-card-footer>
</mat-card>
}