<mat-toolbar color="accent" *transloco="let t">
    <mat-toolbar-row>

        <button mat-icon-button [routerLink]="['/a-book', selectedBook]" title="{{ t('form.back_to_chapters') }}" aria-label="Back to chapter listing">
            <mat-icon>list</mat-icon>
        </button>

        <span class="example-spacer"></span>

        @if(selectedBook && selectedChapter){

        <button [disabled]="!prevChapter" mat-button title="{{ t('form.previous_chapter') }}"
            [routerLink]="['/a-images', selectedBook, prevChapter, selectedMode]"><mat-icon
                style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">arrow_back</mat-icon></button>

        &nbsp;

        @if (selectedMode == 'scroll') {
        <button mat-button title="{{ t('form.to_page_mode') }}"
            [routerLink]="['/a-images', selectedBook, selectedChapter, 'page']">{{ selectedChapter }}</button>
        } @else {
        <button mat-button title="{{ t('form.to_scroll_mode') }}"
            [routerLink]="['/a-images', selectedBook, selectedChapter, 'scroll']">{{ selectedChapter }}</button>
        }

        &nbsp;

        <button [disabled]="!nextChapter" mat-button title="{{ t('form.next_chapter') }}"
            [routerLink]="['/a-images', selectedBook, nextChapter, selectedMode]"><mat-icon
                style="font-size: 14px; display: inline-block; vertical-align: middle;line-height: 20px;">arrow_forward</mat-icon></button>

        }

        <span class="example-spacer"></span>

        @if (can_manage) {
        <button mat-icon-button [class.button_right_margin]="true" [routerLink]="['/a-images-editor', selectedBook, selectedChapter]"
            aria-label="Edit chapter" title="{{ t('form.edit_chapter') }}">
            <mat-icon>edit</mat-icon>
        </button>
        }

        <button mat-icon-button [matMenuTriggerFor]="pageActions" aria-label="Page actions" title="Page actions">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #pageActions="matMenu">

            @if (can_bookmark) {
            <button mat-menu-item title="Add Bookmark" (click)="addBookmark()">
                <mat-icon>favorite</mat-icon>
                <span>Add Bookmark</span>
            </button>
            }
        </mat-menu>
        

    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="determinate" [value]="currentPercent"></mat-progress-bar>

@if (is_loading) {
<app-loading-spinner></app-loading-spinner>
} @else {
@if(singleMode){
@if (selectedBook && selectedChapter && selectedImage) {
<div class="single-image-holder">
    <div class="previous-spot" (click)="previousImage()"></div>
    <div class="next-spot" (click)="nextImage()"></div>
    <img src="/api/volume/serve_image/{{selectedBook}}/{{selectedChapter}}/{{selectedImage}}"
        (load)="singleImageLoaded()" title="{{getPageDescription()}}" />
</div>
}
} @else {
<mat-icon style="position: absolute;" [style.left.%]="savedPositionX" [style.top.px]="savedPositionY"
    class="movable-icon">keyboard_arrow_down</mat-icon>
<mat-icon style="position: absolute;" [style.left.%]="viewPositionX" [style.top.px]="viewPositionY"
    class="movable-icon">arrow_drop_down</mat-icon>
<div class="stream-image-holder" #scrollableDiv>
    @for (imgName of imageData.files; track imgName) {
    <img src="/api/volume/serve_image/{{selectedBook}}/{{selectedChapter}}/{{imgName}}" (load)="imageLoaded()" />
    } @empty {
    No Images
    }
</div>
}
}