<ng-container *transloco="let t">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span style="font-weight: bold;">{{ t('menu_manage.property_listing') }}</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="list-container" #scrollToTop>
    @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
    }

    <mat-card class="list-card">
      <mat-list>
        @for (property of properties; track property.id) {
        <mat-list-item [routerLink]="['/a-property', property.id]" class="list-item">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>{{ property.id }}</span>
          <span matListItemLine>{{ property.comment }}</span>
          <mat-icon matListItemMeta>chevron_right</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>
    </mat-card>
  </div>

</ng-container>
